@charset "utf-8";
/* Global Styles */

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
/* Header */
header {
	text-align: center;
	display: block;

}
header .profilePhoto {
	background-color: rgba(237,237,237,1.00);
	width: 259px;
	border-radius: 50%;
	height: 259px;
	clear: both;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	/* color: #545454; */
	/* font-size: 30px;
	font-weight: 2000;
	line-height: 24px; */
}
h2 {
	font-family: 'Montserrat', sans-serif;
	/* color: #545454; */
	/* font-size: 16px;
	font-weight: 700;
	line-height: 24px; */
}
hr {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
}
p {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.8;
	overflow-y: auto;
}
table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
}
a{color: #484f5f}
a:visited {
	color: #2851EA
}
a:hover {
	color: #727D94;
}

#container {
    width: 95%;
    margin: 0px auto;
    text-align: center;
}
header img:hover {
	opacity: 0.5;
}
footer {
	text-align: center;
}
footer a{color: #506B83}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
	text-align: left;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}

}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
}
header .profileHeader {
	text-align: left;
	margin-top: 7%;
}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-top: 10%;
}
}